input.btn {
	padding:.75em;
	margin:.5em;
	float:left;
	border-color:lime;	
	border-style:dashed;
	animation-name: transparency;
	animation-duration:2s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-timing-function:linear;
}

input.btn:hover,input.btn:focus {
	color:chartreuse;
}

div.row {
	margin: 1em;
}

div#content {
	text-align: center;
}

#content p {
	font-size: 1.5em;
}

img {
	width: 15em;
	border-radius: 15em;
	image-rendering: pixelated;
}

h1 {
	font-size: 8em;
	margin: -.125em 0 -.125em 0;
	letter-spacing:-.125em;
	animation-name:capitals;
	animation-duration:15s;
	animation-iteration-count:infinite;
}

h2 {
	font-weight: bold;
	border-bottom: lime .125em dashed;
	animation-name:capitals;
	animation-duration:15s;
	animation-iteration-count:infinite;
}

body.green {
	color:lime;
	background-color: transparent;
	font-family:lucida console;
}

html {
	animation-name:soothe;
	animation-duration:20s;
	animation-direction:alternate;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
}
/* Keyframes */
@keyframes transparency{
	from {background-color:rgba(255,255,255,0);}
	to {background-color:rgba(255,255,255,.1);}
}

@keyframes soothe{
	0% {background-color:rgb(55,15,15);}
	10% {background-color:rgb(45,25,15);}
	20% {background-color:rgb(35,35,15);}
	30% {background-color:rgb(25,45,15);}
	40% {background-color:rgb(15,55,15);}
	50% {background-color:rgb(15,45,25);}
	60% {background-color:rgb(15,35,35);}
	70% {background-color:rgb(15,25,45);}
	80% {background-color:rgb(15,15,55);}
	90% {background-color:rgb(25,15,45);}
	100% {background-color:rgb(35,15,35);}
}

@keyframes capitals{
	0% {text-transform:capitalize;letter-spacing:-.125em;}
	50% {text-transform:uppercase;letter-spacing:-.1em;}
	100% {text-transform:lowercase;letter-spacing:-.125em;}
}